body{
background-color: #f0efef;
font:300 16px/1.4em Open Sans, sans-serif;
color:#606161;
}
a{
  text-decoration: none;
}
blockquote {
  text-align:center;
  font-style: italic;
  padding-top:150px;
}
/*** why isn't this working??? ****/
header{
  color:#033048;
  padding:25px 0;
}
header nav{
  float:right;
}
header nav ul li{
  list-style: none;
  display:inline-block;
  font-size:24px;
}
header nav ul li a{
  color:#f9e42e;
}
#homepage{
  background: url("../images/header_bg.jpg") no-repeat top center #131e27;
  height:700px;
  color:white;
}
.logo{
  font-size:24px;
  font-weight:800;
  display:inline-block;
}
.first{
  /*logo at the top styling goes here*/
}
.tagline{
  text-align:center;
  padding-top:200px;
  font-size:24px;
  font-weight:600;
}
.button{
  border-radius:5px;
  font-weight:800;
  text-align:center;
  height:40px;
  width:280px;
  font-size:18px;
  display:block;
  margin:0 auto;
}
.cta{
  margin-top:30px;
  padding-top:10px;
  background-color:#f9e42e;
  color:black;
}
.benefits{
  padding:20px;
  font-weight:600;
  font-size:20px;
  color:#033048;
}
.testimonial{
  background: url("../images/testimonial_bg.jpg") no-repeat top center #131e27;
  height:400px;
  color:white;
  font-size:24px;
}
.blue{
  padding-top:10px;
  background-color:#033048;
  color:white;
}
.signup{
  background:#f9e42e;
  padding:40px;
}
footer{
  background:black;
  text-align:center;
}
footer a{
  color:white;
  padding-bottom:40px;
}
footer li{
  list-style:none;
  display:inline-block;
}
footer .logo{
  color:#f9e42e;
}